.header {
  background: #0f0f0f;
  height: 92px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  &.smallHeader {
    height: 62px;
  }
  div {
    height: 100%;
  }
}

.connectButton {
  background: white;
  font-weight: bold;
  color: #007ef3;
  border-radius: 12px;
  padding: 6px 8px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  &:hover {
    background-color: rgb(178, 178, 178);
  }
  width: 120px;
}

.connectPopup {
  position: fixed;
  width: 360px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 20px;
  border-radius: 24px;

  background: linear-gradient(180deg, #0f0f0f 0%, #103c5b 100%);
  color: white;
  border: 1px solid rgb(161, 169, 214);

  .popupHeader {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: white 1px solid;

    span {
      color: white;
      cursor: pointer;
    }
  }

  .popupMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;

    button {
      display: flex;
      justify-content: space-between;
      align-items: center;

      height: 48px;
      margin-top: 8px;
      border-radius: 16px;

      background-color: #6a98c9;
      color: black;
      cursor: pointer;

      h3 {
        font-weight: bold;
      }

      img {
        height: 32px;
        border-radius: 24px;
      }
    }
    .logoutButton {
      justify-content: center;
    }
  }
}
