@import '../../styles/base/variables';

.poolItem {
  flex-grow: 0;
  .item {
    border: 1px solid rgb(161, 169, 214);
    border-radius: 20px;
    background: rgb(255, 255, 255);
    max-width: 380px;
    margin: 0px auto;
    padding: 30px;
    position: relative;
  }
  .icon {
    height: 48px;
    border-radius: 24px;
  }
  .title {
    font-weight: 700;
    font-size: 20px;
  }
  .pTitle {
    font-size: 16px;
    // line-height: 2;
  }
  .wallet {
    margin-top: 32px;
    padding-top: 8px;
    border-top: 1px solid rgb(161, 169, 214);
  }
  .poolButton {
    margin-top: 30px;
  }
  .button {
    text-transform: none;
    border-radius: 12px;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    width: 100%;
    background: $blue-primary;
    box-shadow: none;
    line-height: 1.75;
    cursor: pointer;
    &:hover {
      background: rgb(0, 88, 170);
    }
    &.stakeButton {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-left: 1px solid rgb(161, 169, 214);
    }
    &.withdrawButton {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-right: 1px solid rgb(161, 169, 214);
    }
  }
  .colorLight {
    color: $danube;
  }
}
.poolItemGrid {
  padding: 12px;
}

.poolAllocationPoint {
  align-items: center;
  background-color: $blue-primary;
  border-radius: 16px;
  color: rgb(255, 255, 255);
  display: inline-flex;
  font-size: 14px;
  font-weight: 400;
  height: 28px;
  line-height: 1.5;
  padding: 0px 8px;
  white-space: nowrap;
  margin-left: auto;

  p {
    font-weight: bold;
  }
}
.spacing {
  margin: -12px;
}

.disabled {
  background-color: darkgray !important;
  cursor: auto !important;
}

.detailsButtonContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.detailsContainer__row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.liquidityPoolEffect {
  filter: blur(6px);
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: -1;
  background: linear-gradient(
      45deg,
      rgb(255, 0, 0) 0%,
      rgb(255, 154, 0) 10%,
      rgb(208, 222, 33) 20%,
      rgb(79, 220, 74) 30%,
      rgb(63, 218, 216) 40%,
      rgb(47, 201, 226) 50%,
      rgb(28, 127, 238) 60%,
      rgb(95, 21, 242) 70%,
      rgb(186, 12, 248) 80%,
      rgb(251, 7, 217) 90%,
      rgb(255, 0, 0) 100%
    )
    0% 50% / 300% 300%;
  animation: moveGradient 2s alternate infinite;
  border-radius: 16px;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.noFeeBag {
  border: 2px solid $success;
  background-color: $white;
  margin-right: 5px;
  p {
    margin-left: 3px;
    color: $success;
  }
  .verifiedIcon {
    fill: $success;
  }
}

.calAPRButton {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  cursor: pointer;

  &:hover {
    background-color: rgba(90, 141, 238, 0.15);
  }
}

@media (max-width: 992px) {
  .poolItem {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  .poolItem {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }
}


