/* lato - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('/static/fonts/Lato-Light.ttf');
}

/* lato - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/Lato-Regular.ttf');
}

/* lato - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/Lato-Bold.ttf');
}

/* lato - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('/static/fonts/Lato-Black.ttf');
}

/* roboto - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('/static/fonts/Roboto-Light.ttf');
}

/* roboto - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/Roboto-Regular.ttf');
}

/* roboto - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/Roboto-Bold.ttf');
}


