.referralsContainer {
  padding-top: 10rem;

  .referralTitle {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
  }

  @media (max-width: 1024px) {
    padding-top: 6rem;

    .referralTitle {
      font-size: 2rem;
    }
  }
}