@import '../../styles/base/variables';
.menu {
  display: flex;
  margin: 0 15px;

  li {
   margin: 0 15px;
  }
  .menuLink {
    color: $white;
    font-size: 15px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    &:hover {
      &::after {
        transform: scaleX(1);
        transform-origin: left center;
      }
    }
    &::after {
      transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      background-color: #fff;
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 2px;
      margin: auto;
      pointer-events: none;
      transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: scaleX(0);
      transform-origin: right center;
    }
  }
}

.faBars {
  display: none;
  color: white;
  .hamburger {
    width: 27px;
    height: 2px;
    color: white;
    background-color: white;
    margin: 5px 0;
  }
}

@media (max-width: 1200px) {
  .menu {
    margin: 0 9px;

    li {
     margin: 0 9px;
    }
  }
}

@media (max-width: 1024px) {
  .faBars {
    float: left;
    display: block;
  }
  .menu {
    display: block;
    li{
      margin: 12px 0;
    }
    .menuLink {
      color: white;
      font-size: 20px;
    }
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}
