@import '../../styles/base/variables';
.menu {
  display: flex;
  
  li {
    margin-right: 34px;
  }
  .menuLink {
    color: $white;
    font-size: 15px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    &:hover {
      &::after {
        transform: scaleX(1);
        transform-origin: left center;
      }
    }
    &::after {
      transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      background-color: #fff;
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 2px;
      margin: auto;
      pointer-events: none;
      transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: scaleX(0);
      transform-origin: right center;
    }
  }
}
