.connectPopup {
  position: fixed;
  width: 360px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  padding: 20px;
  border-radius: 24px;

  background: linear-gradient(180deg, #0f0f0f 0%, #103c5b 100%);
  color: white;
  border: 1px solid rgb(161, 169, 214);

  .popupHeader {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: white 1px solid;

    span {
      color: white;
      cursor: pointer;
    }
  }

  .popupMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;

    button {
      display: flex;
      justify-content: space-between;
      align-items: center;

      height: 48px;
      margin-top: 8px;
      border-radius: 16px;

      background-color: #6a98c9;
      color: black;
      cursor: pointer;

      h3 {
        font-weight: bold;
      }

      img {
        height: 32px;
        border-radius: 24px;
      }
    }
    .logoutButton {
      justify-content: center;
    }
  }
}
